.maindiv{
    margin:2vw 5vw 0vw 25vw;
    
    overflow: hidden;
    background-color: lavender;
    max-width: 75vw;
}

.abc{
    max-width: 43vw;
}
.one{
    margin:4vh 2vw 2vw 2vw;
    
}

body{
    max-width: 80vw;
    max-height: 90vh;
    background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000')
}

.movieData{
    max-width: 52vw;
    margin:1vh 2vw 2vw 2vw;
}


